<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
  <div class="notificaton.is-primary.global-notificatoin">
    <p class"notice"><%= notice %></p>
  </div> 
  <% end %>
  
  <% if flash[:alert] %>
  <div class="notificaton.is-danger.global-notificatoin">
    <p class"notice"><%= alertt %></p>
  </div> 
  <% end %>
  
    <%= yield %>
  </body>
</html>
